/**/
html, body {
    overflow-x: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

/**/
.vogueHero {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
}

/**/
.heroImg {
    width: 100vw;
}

/**/
.spacer {
    height: 25px
}

/**/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/**/
.headerLinks {
    font-family: "Instrument Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    z-index: 1000;
    width: 95%;
    position: relative;
    bottom: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/**/
.headerLink {
    text-decoration: none;
    color: white;
    font-size: 18pt;
}

/**/
@media only screen and (max-width: 900px) {
    .headerLink {
      font-size: 16pt;
    }
}

/**/
@media only screen and (max-width: 600px) {
    .headerLink {
      font-size: 12pt;
    }
}

/**/
.headerLink:hover {
    color: orange;
    text-decoration: underline;
}

.footer {
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
    font-size: 16pt;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px 12px 0px 0px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 95%;
    height: fit-content;
    color: white;
    text-align: center;
    outline: none;
    background: #111;
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 760px) {
    .footer {
      font-size: 12pt;
      flex-direction: column;
      line-height: 4pt;
    }
}

.headerLinks {
    font-family: "Instrument Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    z-index: 1000;
    width: 95%;
    position: relative;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    font-weight: bold;
    font-size: 14pt;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.headerLinks:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.headerLinks:active {
    color: #000
}

.headerLinks:active:after {
    background: transparent;
}

.headerLinks:hover:before {
    opacity: 1;
}

.headerLinks:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/**/
.concessionsHeader {
    display: flex;
    align-self: center;
    justify-self: center;
    width: fit-content;
    font-family: "Instrument Sans", sans-serif;
    color: white;
    font-size: 32pt;
    font-weight: bold;
}

/* today's viewing shine effect */
.concessionsHeader {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
  
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
}
    
    to {
      -webkit-mask-position: -50%;
    }
}

.paragraphDiv {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 75%;
    line-height: 2.5;
}

@media only screen and (max-width: 600px) {
    .paragraphDiv {
      line-height: 2.0;
    }
}

.foodParagraph {
    font-size: 16pt;
    color: gray;
    font-family: "Instrument Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
    .foodParagraph {
      line-height: 30px;
    }
}

.spacer {
    height: 25px;
}

.foodDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-content: center;
    padding: 15px;
}

.foodDiv2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: end;
    align-content: center;
    padding: 15px;
}

.foodBG {
    background-color: rgba(19, 62, 135, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}

.foodBG2 {
    background-color: rgba(19, 62, 135, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
}

.foodPhoto {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: auto;
}

.foodTitle {
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-size: 18pt;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 10px;
}

.foodDescription {
    color: grey;
    font-family: "Instrument Sans", sans-serif;
    font-size: 16pt;
    display: flex;
    align-self: center;
    justify-self: center;
}

.titleDesc {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.foodRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.foodRow2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.foodPhoto2 {
    display: flex;
    width: 15%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.backToTop {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 24pt;
    color: white;
}

.backToTop:hover {
    color: orange;
}